window {
    margin: 0px;
    border: 2px solid #068498;
    border-radius: 1;
    background-color: #002b36;
}

#input {
    margin: 10px;
    border: none;
    color: #839496;
    background-color: #073642;
}

#inner-box {
    margin: 10px;
    border: none;
    background-color: #002b36;
}

#outer-box {
    margin: 1px;
    border: none;
    background-color: #002b36;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 10px;
    border: none;
    color: #839496;
}

#img {
    margin: 10px;
}

#entry:selected {
    background-color: #073642;
    border: 2px solid rgb(8, 127, 182);
    border-radius: 5px;
}